@model Orderly.Models.ViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="welcome_left create_account">
    <h3>Enter your email</h3>
    @using (Html.BeginForm(FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-field">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", Placeholder = "Email" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger validation" })
        </div>
        <button type="submit" class="btn">Email Link</button>
        <h5>Have an account? <a href="@Url.RouteUrl("Login")"> Log In</a></h5>
    }
    <svg width="480" height="84" viewBox="0 0 480 84" fill="none" xmlns="http://www.w3.org/2000/svg" class="vector_cus">
        <rect opacity="0.03" y="35.4592" width="92" height="63.0386" fill="white" />
        <rect opacity="0.03" x="291" y="35.4592" width="92" height="63.0386" fill="white" />
        <rect opacity="0.03" x="388" y="14.4463" width="92" height="84.0515" fill="white" />
        <rect opacity="0.03" x="97" y="14.4463" width="92" height="84.0515" fill="white" />
        <rect opacity="0.08" x="194" width="92" height="102" fill="white" />
    </svg>
</div>
