@model Orderly.Models.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="welcome_left create_account">
    <h3>Welcome</h3>
    <p class="sub_head sub__head">
        Set the password to protect your account
    </p>
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.UserId, new { @class = "form-control" })
<div class="form-field">
    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
    @Html.ValidationSummary(false, "", new { @class = "text-danger validation-ul" })
</div>
        <button type="submit" class="btn">Let’s Start</button>
    }

    <svg width="480" height="84" viewBox="0 0 480 84" fill="none" xmlns="http://www.w3.org/2000/svg" class="vector_cus">
        <rect opacity="0.03" y="35.4592" width="92" height="63.0386" fill="white" />
        <rect opacity="0.03" x="291" y="35.4592" width="92" height="63.0386" fill="white" />
        <rect opacity="0.03" x="388" y="14.4463" width="92" height="84.0515" fill="white" />
        <rect opacity="0.03" x="97" y="14.4463" width="92" height="84.0515" fill="white" />
        <rect opacity="0.08" x="194" width="92" height="102" fill="white" />
    </svg>
</div>
