.cus_address_add_modal .modal-body .form-field {
    position: relative;
    margin-bottom: 24px;
}


.cus_cross_icon {
    background: #687780;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-bottom: 5px;
}

    .cus_cross_icon svg {
        fill: #ffffff;
        height: 10px;
        width: 10px;
    }

.setup_portfolio .sp_cards .sp_cards_inner .sp_card_address ul li {
    flex: 1;
}

    .setup_portfolio .sp_cards .sp_cards_inner .sp_card_address ul li:nth-child(3) {
        flex: inherit;
        width: auto;
    }

.cus_address_add_modal .modal-body input.form-control {
    margin-bottom: 0;
}

span.validation {
    font-size: 11px;
    margin-top: 10px;
    display: block;
    margin-bottom: 10px
}

.welcome_page .welcome_left .form-control {
    margin-bottom: 0;
}

.form-field {
    position: relative;
    margin-bottom: 24px;
}

.distribution_dropdowns {
    border: 1px solid rgb(0 0 0 / 8%);
    border-radius: 8px;
    padding: 16px;
    margin-top: 45px;
    margin-bottom: 24px;
}

    .distribution_dropdowns h3 {
        font-weight: normal;
        font-size: 15px;
        line-height: 24px;
        color: #08101F;
        margin-bottom: 12px;
    }

.cus_address_add_modal .modal-body .form-select {
    border-radius: 8px;
    border: 0;
    font-size: 15px;
    line-height: 24px;
    color: #08101f;
}

.cus_field .form-select {
    margin-bottom: 0 !important;
    background-color: transparent !important;
    height: 20px !important;
    padding: 0 !important;
}

    .cus_field .form-select:focus {
        box-shadow: none !important;
    }

.add_distributions_table table th {
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;
    color: rgb(8 16 31 / 72%);
    padding: 3px;
}

.add_distributions_table .table > :not(:first-child) {
    border-top: 0;
}

.add_distributions_table .table td {
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #08101F;
    padding: 3px;
}

.add_distributions_table .distribution_remove svg {
    width: 17px;
    height: 17px;
}

.remove_schedule_svg {
    width: 17px;
    height: 17px;
    margin-top: 20px;
}

.custom_toggle .form-check-input:checked {
    background-color: #6b8068;
    border-color: #6b8068;
}

.custom_toggle .form-check-input:focus {
    box-shadow: none;
}

.custom_datatable_footer {
    padding: 12px;
    background: #f0f0f0;
}

div.dataTables_wrapper .custom_datatable_footer div.dataTables_info {
    padding-top: 0;
}

.custom_datatable_footer .page-item.active .page-link {
    background-color: #6b8068;
    border-color: #6b8068;
}

.custom_datatable_footer .data-tables-refresh .btn {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    background-color: #6b8068;
    border-color: #6b8068;
}



.table_bg .table {
    margin-top: 0;
}

.custom_toggle .form-check-label {
    font-size: 12px;
    margin-bottom: 15px;
    margin-top: 6px;
    color: #08101f;
}

.custom_datatable_footer .dataTables_length label, .custom_datatable_footer .dataTables_info {
    font-size: 12px;
    color: #08101f;
}

.custom_datatable_footer .page-link {
    font-size: 12px;
    color: #6b8068;
    height: 30px;
    line-height: 18px;
}

.table_bg .footer-btn {
    padding: 20px 24px;
}

.cus_edit_icon {
    position: absolute;
    top: 18px;
    right: 77px;
    z-index: 1000;
    font-size: 10px;
    color: #6b8068;
    cursor: pointer;
}

.cus_delete_icon {
    position: absolute;
    top: 18px;
    right: 50px;
    z-index: 1000;
    color: #6b8068;
    font-size: 10px;
    cursor: pointer;
}

.dot_actions {
    position: absolute;
    top: 50%;
    right: 44px;
    background: #ffffff;
    border-radius: 4px;
    padding: 2px 8px;
    transform: translatey(-50%);
}

    .dot_actions ul {
        display: flex;
        flex-wrap: wrap;
        width: 30px;
        justify-content: space-between;
    }

        .dot_actions ul li i {
            font-size: 10px;
            color: #6b8068;
            cursor: pointer;
        }
td.action_btns {
    position: relative;
}

.action-dots svg {
    cursor: pointer;
}

.cus_field input.form-control::-webkit-input-placeholder { /* Edge */
    color: #c0c0c0 !important;
}

.cus_field input.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #c0c0c0 !important;
}

.cus_field input.form-control::placeholder {
    color: #c0c0c0 !important;
    font-size: 14px;
}

.lineheight_1_5 {
    line-height: 1.5;
}
.center_panel .cust_alert {
    width: calc(100% + 72px);
    margin-left: -36px;
    z-index: 10001;
}

.cus_multiselect .k-multiselect-wrap.k-floatwrap {
    background: rgb(107 128 104 / 8%);
    border-radius: 8px;
    border: 0;
    margin-bottom: 5px;
    font-size: 15px;
    line-height: 24px;
    color: #08101f;
    padding: .375rem .75rem;
    min-height:56px;
}

.cus_multiselect .k-multiselect.k-state-focused > .k-multiselect-wrap, .cus_multiselect .k-state-focused.k-dropdowntree > .k-multiselect-wrap {
    border-color: transparent;
    box-shadow: none;
}

.cus_multiselect .k-multiselect-wrap.k-floatwrap .k-button {
    background: #6b8068;
    color: #ffffff;
    font-size: 13px;
    border-radius: 5px;
}

.k-animation-container .k-list-container {
    border-radius:5px !important;
    overflow:hidden !important;
}

.k-list .k-item.k-state-selected, .k-list-optionlabel.k-state-selected {
    background-color: #6b8068 !important;
}

.k-list .k-item.k-state-hover.k-state-selected, .k-list .k-item:hover.k-state-selected, .k-list-optionlabel.k-state-hover.k-state-selected, .k-list-optionlabel:hover.k-state-selected {
    background-color: #6b8068 !important;
}

.k-list .k-item.k-state-focused, .k-list .k-item:focus, .k-list-optionlabel.k-state-focused, .k-list-optionlabel:focus {
    box-shadow: none !important;
}

.login-btn + .field-validation-error {
    text-align: center;
    display: block;
    margin-bottom: 24px;
    margin-top: -38px;
}

#chkManually {
    height: 11px;
    width: 11px;
    margin-right: 1%;
}

.saft-file {
    font-size: 12px;
    display: block;
    margin-top: -10px;
    margin-left: 9px;
    margin-bottom: 19px;
    cursor: pointer;
}

.email-not-confirmed {
    color: red;
    font-size: 12px;
    margin-bottom: 30px;
    display: block;
}

.validation-ul {
    font-size: 11px;
    margin-top: 10px;
    display: block;
    margin-bottom: 10px
}

.upcoming-token-grid thead{
    display:none;
}

.dashboard-token-header {
    border-bottom: 0.3px solid rgb(8 16 31 / 16%);
}

.next-days-portfolio{
    font-size:13px;
}
.chkBnb {
    font-size:13px;
}

.pointer{
    cursor:pointer;
}