<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Orderly</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/custom.css" />
    <link rel="stylesheet" href="~/css/responsive.css" />    
</head>
<body>
    <div>
        <section class="welcome_page">
            <div class="row g-0">
                <div class="col-md-5 col-lg-4">
                    @await Html.PartialAsync("_Notifications")
                    @RenderBody()
                </div>
                <div class="col-md-7 col-lg-8">
                    <div class="welcome_right">
                        <div>
                            <svg width="200" height="56" viewBox="0 0 200 56" fill="none" xmlns="http://www.w3.org/2000/svg" class="logo">
                                <path d="M20.3 1.568C23.2867 1.568 25.9933 2.044 28.42 2.996C30.8467 3.92933 32.928 5.264 34.664 7C36.4 8.71733 37.7347 10.7893 38.668 13.216C39.6013 15.6427 40.068 18.34 40.068 21.308C40.068 24.2573 39.5733 26.9547 38.584 29.4C37.6133 31.8267 36.232 33.9173 34.44 35.672C32.648 37.4267 30.5107 38.78 28.028 39.732C25.5453 40.6653 22.7827 41.132 19.74 41.132C16.7533 41.132 14.0467 40.6653 11.62 39.732C9.19333 38.7987 7.112 37.464 5.376 35.728C3.65867 33.992 2.33333 31.9107 1.4 29.484C0.466667 27.0573 0 24.3693 0 21.42C0 18.452 0.485333 15.7547 1.456 13.328C2.42667 10.8827 3.808 8.78267 5.6 7.028C7.41067 5.27333 9.55733 3.92933 12.04 2.996C14.5227 2.044 17.276 1.568 20.3 1.568ZM20.244 36.82C22.596 36.82 24.6213 36.288 26.32 35.224C28.0187 34.1413 29.3253 32.5547 30.24 30.464C31.1733 28.3547 31.64 25.76 31.64 22.68C31.64 19.0027 31.1547 15.9227 30.184 13.44C29.232 10.9387 27.8693 9.05333 26.096 7.784C24.3413 6.51467 22.2507 5.88 19.824 5.88C17.472 5.88 15.4467 6.42133 13.748 7.504C12.0493 8.568 10.7333 10.1547 9.8 12.264C8.88533 14.3547 8.428 16.94 8.428 20.02C8.428 23.6787 8.904 26.7587 9.856 29.26C10.808 31.7613 12.1707 33.6467 13.944 34.916C15.7173 36.1853 17.8173 36.82 20.244 36.82Z" fill="white" />
                                <path d="M63.8492 14.28C65.0065 14.28 65.8559 14.5973 66.3972 15.232C66.9385 15.848 67.2092 16.6413 67.2092 17.612C67.2092 18.8253 66.9012 19.768 66.2852 20.44C65.6692 21.112 64.9692 21.448 64.1852 21.448C63.3825 21.448 62.6545 21.392 62.0012 21.28C61.3665 21.1493 60.7319 21.028 60.0972 20.916C59.4625 20.804 58.7719 20.748 58.0252 20.748C57.5772 20.748 57.1292 20.7947 56.6812 20.888C56.2519 20.9813 55.8225 21.1213 55.3932 21.308C54.9825 21.4947 54.5625 21.7467 54.1332 22.064L53.4052 20.748C54.6745 19.516 55.8039 18.4893 56.7932 17.668C57.7825 16.828 58.6785 16.1653 59.4812 15.68C60.3025 15.176 61.0679 14.8213 61.7772 14.616C62.4865 14.392 63.1772 14.28 63.8492 14.28ZM55.4772 19.88V37.352L59.7332 38.752V40.46H44.3612V38.752L48.2252 37.436V21.308C47.9452 21.0093 47.5999 20.7107 47.1892 20.412C46.7972 20.1133 46.3399 19.8053 45.8172 19.488C45.2945 19.1707 44.7159 18.8627 44.0812 18.564V17.304L53.2092 14.056H54.3012L55.4772 19.88Z"
                                      fill="white" />
                                <path d="M88.7451 23.044C88.7451 21.3827 88.3158 20.0573 87.4571 19.068C86.5984 18.0787 85.2638 17.584 83.4531 17.584C81.9971 17.584 80.7558 17.9387 79.7291 18.648C78.7211 19.3573 77.9465 20.4307 77.4051 21.868C76.8825 23.3053 76.6211 25.116 76.6211 27.3C76.6211 29.372 76.9011 31.0987 77.4611 32.48C78.0211 33.8427 78.8238 34.86 79.8691 35.532C80.9145 36.1853 82.1745 36.512 83.6491 36.512C84.7691 36.512 85.8985 36.3533 87.0371 36.036C88.1945 35.7187 89.3238 35.2333 90.4251 34.58V36.596C88.9691 37.5667 87.7278 38.3507 86.7011 38.948C85.6931 39.5453 84.8158 40.0027 84.0691 40.32C83.3411 40.6373 82.6785 40.852 82.0811 40.964C81.5025 41.076 80.9145 41.132 80.3171 41.132C77.8345 41.132 75.7531 40.6187 74.0731 39.592C72.3931 38.5653 71.1238 37.128 70.2651 35.28C69.4251 33.432 69.0051 31.276 69.0051 28.812C69.0051 26.4787 69.3971 24.4067 70.1811 22.596C70.9651 20.7667 72.0385 19.2173 73.4011 17.948C74.7825 16.6787 76.3598 15.7173 78.1331 15.064C79.9065 14.4107 81.7825 14.084 83.7611 14.084C84.8625 14.084 85.8985 14.168 86.8691 14.336C87.8585 14.4853 88.8571 14.7373 89.8651 15.092C90.8731 15.4467 91.9651 15.9227 93.1411 16.52L88.7451 17.388V6.636C88.4838 6.37467 88.1105 6.11333 87.6251 5.852C87.1584 5.572 86.6264 5.292 86.0291 5.012C85.4505 4.732 84.8625 4.46133 84.2651 4.2V2.604L95.2691 0H96.4731L96.0251 5.964V34.972C96.2118 35.14 96.4638 35.336 96.7811 35.56C97.0985 35.784 97.4438 36.008 97.8171 36.232C98.2091 36.456 98.6011 36.6613 98.9931 36.848C99.3851 37.0347 99.7398 37.1933 100.057 37.324V38.556L90.9571 41.104H90.0051L88.7451 36.064V23.044Z"
                                      fill="white" />
                                <path d="M115.765 14.084C118.191 14.084 120.207 14.5693 121.813 15.54C123.437 16.492 124.687 17.9107 125.565 19.796C126.442 21.6813 126.955 24.0053 127.105 26.768H108.065V23.94L122.737 23.464L120.049 24.808C119.974 23.0907 119.75 21.6907 119.377 20.608C119.022 19.5253 118.499 18.7227 117.809 18.2C117.137 17.6773 116.287 17.416 115.261 17.416C114.141 17.416 113.161 17.7053 112.321 18.284C111.499 18.844 110.855 19.7493 110.389 21C109.941 22.2507 109.717 23.9213 109.717 26.012C109.717 28.2147 110.081 30.044 110.809 31.5C111.537 32.956 112.591 34.048 113.973 34.776C115.373 35.4853 117.071 35.84 119.069 35.84C119.983 35.84 120.851 35.7653 121.673 35.616C122.513 35.4667 123.325 35.2427 124.109 34.944C124.893 34.6453 125.667 34.272 126.433 33.824L127.021 35.728C125.807 36.8667 124.594 37.8467 123.381 38.668C122.167 39.4707 120.935 40.0773 119.685 40.488C118.434 40.9173 117.155 41.132 115.849 41.132C113.198 41.132 110.902 40.5907 108.961 39.508C107.019 38.4067 105.507 36.876 104.425 34.916C103.361 32.9373 102.829 30.632 102.829 28C102.829 25.3493 103.333 22.9787 104.341 20.888C105.367 18.7787 106.842 17.1173 108.765 15.904C110.706 14.6907 113.039 14.084 115.765 14.084Z"
                                      fill="white" />
                                <path d="M150.365 14.28C151.522 14.28 152.371 14.5973 152.913 15.232C153.454 15.848 153.725 16.6413 153.725 17.612C153.725 18.8253 153.417 19.768 152.801 20.44C152.185 21.112 151.485 21.448 150.701 21.448C149.898 21.448 149.17 21.392 148.517 21.28C147.882 21.1493 147.247 21.028 146.613 20.916C145.978 20.804 145.287 20.748 144.541 20.748C144.093 20.748 143.645 20.7947 143.197 20.888C142.767 20.9813 142.338 21.1213 141.909 21.308C141.498 21.4947 141.078 21.7467 140.649 22.064L139.921 20.748C141.19 19.516 142.319 18.4893 143.309 17.668C144.298 16.828 145.194 16.1653 145.997 15.68C146.818 15.176 147.583 14.8213 148.293 14.616C149.002 14.392 149.693 14.28 150.365 14.28ZM141.993 19.88V37.352L146.249 38.752V40.46H130.877V38.752L134.741 37.436V21.308C134.461 21.0093 134.115 20.7107 133.705 20.412C133.313 20.1133 132.855 19.8053 132.333 19.488C131.81 19.1707 131.231 18.8627 130.597 18.564V17.304L139.725 14.056H140.817L141.993 19.88Z"
                                      fill="white" />
                                <g opacity="0.6">
                                    <path d="M162.681 38.9478L167.077 39.5918V40.4598H156.269V39.5918L160.665 38.9478V3.16382C160.423 3.10782 160.031 3.01448 159.489 2.88382C158.967 2.75315 158.36 2.61315 157.669 2.46382C156.979 2.29582 156.269 2.11848 155.541 1.93182V1.31582L162.457 0.111816H162.765L162.681 3.07982V38.9478Z"
                                          fill="white" />
                                    <path d="M184.859 39.4798L183.599 41.3278L172.315 16.4918L167.975 15.7918V15.0078H178.839V15.8758L174.499 16.4918L184.859 39.4798ZM174.751 54.6838C173.743 54.6838 172.987 54.4972 172.483 54.1238C171.979 53.7505 171.727 53.2278 171.727 52.5558C171.727 52.2758 171.774 52.0238 171.867 51.7998C171.979 51.5945 172.11 51.4265 172.259 51.2958C172.427 51.1838 172.605 51.1278 172.791 51.1278C173.015 51.1278 173.295 51.1745 173.631 51.2678C173.986 51.3611 174.359 51.4545 174.751 51.5478C175.162 51.6412 175.545 51.6878 175.899 51.6878C176.59 51.6878 177.225 51.5291 177.803 51.2118C178.382 50.9131 178.961 50.3531 179.539 49.5318C180.118 48.7105 180.734 47.5252 181.387 45.9758L183.795 40.3758L184.131 39.5358L192.783 16.5198L188.387 15.8758V15.0078H198.215V15.8758L194.267 16.4918L182.255 47.2918C181.527 49.1585 180.79 50.6332 180.043 51.7158C179.297 52.7985 178.494 53.5638 177.635 54.0118C176.795 54.4598 175.834 54.6838 174.751 54.6838Z"
                                          fill="white" />
                                </g>
                            </svg>
                            <h6>Easy & private crypto investments managment</h6>
                            <div class="outer_column">
                                <div class="row justify-content-center gy-4 gy-lg-0">
                                    <div class="col-md-10 col-lg-4">
                                        <div class="single_column">
                                            <h5>Control & manage investment</h5>
                                            <p>
                                                Some text descibed anonomized model of data savig how is
                                                it
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-10 col-lg-4">
                                        <div class="single_column">
                                            <h5>OTC Deals on deck</h5>
                                            <p>
                                                Some text descibed anonomized model of data savig how is
                                                it
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-10 col-lg-4">
                                        <div class="single_column">
                                            <h5>Anonymized data</h5>
                                            <p>
                                                Some text descibed anonomized model of data savig how is
                                                it
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery-3.6.0.js"></script>
    <script src="~/js/jquery.validate.js"></script>
</body>
</html>
